body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  
  header {
    background: #333;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    color: #d21034;
  }
  
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  #bio-image {
    width: 200px;
    margin-right: 20px;
  }


  .social-media ul {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-media ul li {
  list-style: none;
}

.social-media li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.social-media li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.social-media li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social-media li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.social-media ul li a:hover:before {
  top: 0;
}

.social-media ul li:nth-child(1) a:before{
  background: #3b5999;
}

.social-media ul li:nth-child(2) a:before{
  background: #55acee;
}

.social-media ul li:nth-child(3) a:before {
  background: #0077b5;
}

.social-media  ul li:nth-child(4) a:before {
  background: #dd4b39;
}



